<header>
    <nav>
        <a href="/" class="logo">Gabriel Ruy</a>
        <ul class="nav-list">
            <li>
            <a href="/sobre">Sobre</a>
            <li>
            <a href="/projetos">Projetos</a>
        </ul>
    </nav>   
</header>
